/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Crafty+Girls');
body {
  margin: 0;
  font-family: sans-serif;
  font-family: 'Crafty Girls', cursive;
  background-color: #16a085;
}
